In [1]:
import pandas as pd
dataset_open_discourse = pd.read_feather("../data/open_discourse/speeches.feather")

In [2]:
print('Anzahl der Redebeiträge insgesamt:', len(dataset_open_discourse))
dataset_open_discourse.head(5)

Anzahl der Redebeiträge insgesamt: 907644

,id,session,electoralTerm,firstName,lastName,politicianId,speechContent,factionId,documentUrl,positionShort,positionLong,date
0,0,2,1,,Köhler,11001150,Meine Damen und Herren! Ich eröffne die 2. Sit...,-1,https://dip21.bundestag.de/dip21/btp/01/01002.pdf,Presidium of Parliament,präsident,1949-09-12
1,1,2,1,,Arnold,-1,"Der Bundesrat ist versammelt, Herr Präsident.\n",-1,https://dip21.bundestag.de/dip21/btp/01/01002.pdf,Guest,präsident des bundesrats,1949-09-12
2,2,2,1,,Köhler,11001150,Ich danke für diese Erklärung. Ich stelle dami...,-1,https://dip21.bundestag.de/dip21/btp/01/01002.pdf,Presidium of Parliament,präsident,1949-09-12
3,3,2,1,,Heuss,-1,"Ja, ich habe den Wunsch.\n",-1,https://dip21.bundestag.de/dip21/btp/01/01002.pdf,Guest,bundespräsident,1949-09-12
4,4,2,1,,Köhler,11001150,Ich erteile dem Herrn Bundespräsidenten das Wo...,-1,https://dip21.bundestag.de/dip21/btp/01/01002.pdf,Presidium of Parliament,präsident,1949-09-12

In [3]:
len(dataset_open_discourse[(dataset_open_discourse['electoralTerm'] == 1) & 
                           (dataset_open_discourse['session'] == 1)])

0

In [4]:
%store -r minutes 
minutes['count_op'] = 0

for index, xminutes in minutes.iterrows():
    count_op = len(dataset_open_discourse[(dataset_open_discourse['electoralTerm'] == xminutes.period) & 
                                          (dataset_open_discourse['session'] == xminutes.nr)])
    minutes.at[index,'count_op'] = count_op
    
minutes_op_missing = minutes[minutes['count_op'] < 1]
minutes_op_missing

    period   nr        date     len date_anomaly datum_duplicate  count_op
0        1    1  1949-09-07   36249        False           False         0
13       1   14  1949-11-03  122737        False           False         0
18       1   19  1949-12-01  557797        False           False         0
40       1   41  1950-02-24  219451        False            True         0
41       1   42  1950-02-24  216375        False            True         0
182      1  183  1952-01-10  837757        False           False         0
222      1  223  1952-07-16  638199        False            True         0
223      1  224  1952-07-16  627758        False            True         0
279      1  280  1953-07-03  893683        False            True         0
280      1  281  1953-07-03  877757        False            True         0
359      2   78  1955-04-27  219933        False           False         0
469      2  188  1957-01-31  600704        False           False         0

In [5]:
%store -r minutes_duplicates_filtered

minutes_duplicates_filtered['count_op'] = 0
minutes_duplicates_filtered.insert(8, 'count_op_duplicate',minutes_duplicates_filtered['count_op'])

for index, duplicates in minutes_duplicates_filtered.iterrows():
    count_op = len(dataset_open_discourse[(dataset_open_discourse['electoralTerm'] == duplicates.period) & 
                                          (dataset_open_discourse['session'] == duplicates.nr)])
    minutes_duplicates_filtered.at[index,'count_op'] = count_op
    
    count_op = len(dataset_open_discourse[(dataset_open_discourse['electoralTerm'] == duplicates.period) & 
                                          (dataset_open_discourse['session'] == duplicates.nr_duplicate)])
    minutes_duplicates_filtered.at[index,'count_op_duplicate'] = count_op
    
    
minutes_duplicates_filtered

,period,nr,nr_duplicate,date,len,len_duplicate,diff,count_op,count_op_duplicate
1,1,20,21,1949-12-02,144998,143193,1.012605,93,93
3,1,41,42,1950-02-24,219451,216375,1.014216,0,0
5,1,75,76,1950-07-14,323715,320151,1.011132,109,109
7,1,149,150,1951-06-08,260737,257737,1.01164,138,138
8,1,223,224,1952-07-16,638199,627758,1.016632,0,0
9,1,280,281,1953-07-03,893683,877757,1.018144,0,0
12,2,219,220,1957-06-29,295928,290819,1.017568,77,77
13,2,225,226,1957-07-06,173908,171244,1.015557,77,77
14,3,97,98,1960-01-27,297161,297345,0.999381,55,24
17,4,66,67,1963-03-15,187034,187034,1.0,49,1
18,4,87,88,1963-10-16,43093,43093,1.0,4,5
20,4,112,113,1964-02-07,231231,231267,0.999844,340,5
21,5,47,48,1966-06-16,344899,344899,1.0,11,305
23,5,232,233,1969-05-09,318999,318999,1.0,79,139

In [6]:
politicians_open_discourse = pd.read_feather("../data/open_discourse/politicians.feather")

In [7]:
politicians_open_discourse

,id,firstName,lastName,birthPlace,birthCountry,birthDate,deathDate,gender,profession,aristocracy,academicTitle
0,11000001,Manfred,Abelein,Stuttgart,Deutschland,1930-10-20,2008-01-17,männlich,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",None,Prof. Dr.
1,11000002,Ernst,Achenbach,Siegen,Deutschland,1909-04-09,1991-12-02,männlich,Rechtsanwalt und Notar,None,Dr.
2,11000003,Annemarie,Ackermann,Parabutsch,Jugoslawien,1913-05-26,1994-02-18,weiblich,Hilfsreferentin,None,None
3,11000004,Else,Ackermann,Berlin,Deutschland,1933-11-06,2019-09-14,weiblich,Ärztin,None,Dr.
4,11000005,Ulrich,Adam,"Teterow, Kr. Teterow, Bezirk Neubrandenburg",Deutschland,1950-06-09,None,männlich,"Mathematiker, Geschäftsführer",None,None
...,...,...,...,...,...,...,...,...,...,...,...
4100,11004974,Manuela,Schwesig,None,None,None,None,None,None,None,None
4101,11004975,Manfred,Stolpe,None,None,None,None,None,None,None,None
4102,11004976,Johanna,Wanka,None,None,None,None,None,None,None,None
4103,11004977,Ludger,Westrick,None,None,None,None,None,None,None,None
4104,-1,Not found,,None,None,None,None,None,None,None,None

In [8]:
politicians_open_discourse[politicians_open_discourse['id'] == 11004966]

,id,firstName,lastName,birthPlace,birthCountry,birthDate,deathDate,gender,profession,aristocracy,academicTitle
4092,11004966,Franziska,Giffey,None,None,None,None,None,None,None,None

In [9]:
politicians_open_discourse[politicians_open_discourse.birthDate.isnull()]

,id,firstName,lastName,birthPlace,birthCountry,birthDate,deathDate,gender,profession,aristocracy,academicTitle
4089,11004963,Christine,Bergmann,None,None,None,None,None,None,None,None
4090,11004964,Wolfgang,Clement,None,None,None,None,None,None,None,None
4091,11004965,Karl Heinz,Funke,None,None,None,None,None,None,None,None
4092,11004966,Franziska,Giffey,None,None,None,None,None,None,None,None
4093,11004967,Bodo,Hombach,None,None,None,None,None,None,None,None
4094,11004968,Reinhard,Klimmt,None,None,None,None,None,None,None,None
4095,11004969,Hans,Leussink,None,None,None,None,None,None,None,None
4096,11004970,Hans,Lukaschek,None,None,None,None,None,None,None,None
4097,11004971,Werner,Müller,None,None,None,None,None,None,None,None
4098,11004972,Philipp,Rösler,None,None,None,None,None,None,None,None
4099,11004973,Svenja,Schulze,None,None,None,None,None,None,None,None
4100,11004974,Manuela,Schwesig,None,None,None,None,None,None,None,None
4101,11004975,Manfred,Stolpe,None,None,None,None,None,None,None,None
4102,11004976,Johanna,Wanka,None,None,None,None,None,None,None,None
4103,11004977,Ludger,Westrick,None,None,None,None,None,None,None,None
4104,-1,Not found,,None,None,None,None,None,None,None,None

In [10]:
groups_open_discourse = pd.read_feather("../data/open_discourse/factions.feather")
groups_open_discourse

    id  abbreviation                                           fullName
0   -1     not found                                          not found
1    0           AfD                        Alternative für Deutschland
2    1           BHE      Block der Heimatvertriebenen und Entrechteten
3    2            BP                                       Bayernpartei
4    3         Grüne                              Bündnis 90/Die Grünen
5    4       CDU/CSU  Christlich Demokratische Union Deutschlands/Ch...
6    5            DA                  Demokratische Arbeitsgemeinschaft
7    6    DIE LINKE.                                         DIE LINKE.
8    7            DP                                    Deutsche Partei
9    8        DP/DBP             Deutsche Partei/Deutsche Partei Bayern
10   9        DP/FVP                  Deutsche Partei/Freie Volkspartei
11  10           DPB                             Deutsche Partei Bayern
12  11           DRP                              Deutsche Reformpartei
13  12        DRP/NR             Deutsche Reichspartei/Nationale Rechte
14  13           FDP                         Freie Demokratische Partei
15  14            FU                              Föderalistische Union
16  15           FVP                                  Freie Volkspartei
17  16  Fraktionslos                                       Fraktionslos
18  17        GB/BHE  Gesamtdeutscher Block/Bund der Heimatvertriebe...
19  18          Gast                                               Gast
20  19            KO                            Kraft/Oberländer-Gruppe
21  20           KPD                 Kommunistische Partei Deutschlands
22  21            NR                                   Nationale Rechte
23  22           PDS              Partei des Demokratischen Sozialismus
24  23           SPD            Sozialdemokratische Partei Deutschlands
25  24           SSW                    Südschleswigscher Wählerverband
26  25           WAV                 Wirtschaftliche Aufbau-Vereinigung
27  26             Z                            Deutsche Zentrumspartei